body {

  background-size: cover;
  font-family:  Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  background-image: url(media/sm3.jpg);
  height: 100vh;

}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main p {
  padding-bottom: 15px;
}

.main{
  background: white;
  max-width: 80%;
  margin: auto;
  border-radius: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: darkred;
}

#save-btn {
  background: darkgreen;
}