*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;

}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #fa9907;
--other-color: rgb(255, 224, 198);  
  
}

html{
  font-size: 60%;
  overflow-x: hidden;

}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

.header{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

}

.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover{
  transform: scale(1.1)
}

.logo span{
  text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;

}

.navbar a:hover,
.navbar a.active{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section{
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;

}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top:  3rem;
}

span{
  color: var(--main-color);
}
.logo span{
  color: var(--main-color);
}

.home-content h3{
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5;
  
}

.home-content h1{
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-img img{
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  cursor: pointer;

  box-shadow: 0 0 25px var(--other-color);
  transition: 0.4s ease-in-out;
  
} 
.home-img img:hover{
  box-shadow: 0 0 10px var(--main-color),
              0 0 25PX var(--main-color),
              0 0 75PX var(--main-color);

}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}

.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0 ;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover{
  color:  var(--text-color);
  transform: scale(1.3)translateY(-5px);
}

