body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(media/table.png);
    background-size: cover;
}

h1 {
    color: goldenrod;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}
 p{
  text-align: center;
  padding-bottom: 30px;
  font-size: x-large;
  font-weight: bold;
  color: white;
 
}
#message-el {
    font-style: italic;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(media/card.png);
  max-width: 35%;
  padding-bottom: 40px;
  margin: auto;
  box-shadow: 0px 0px 20px;
}
button {
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 12px; 
  transition-duration: 0.4s;
}
button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50; 
}